* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    .mr-auto {
        margin-right: auto !important;
    }

    .ml-auto {
        margin-left: auto !important;
    }

    .d-flex {
        display: flex !important;
    }

    .d-none {
        display: none !important;
    }

    .ore {
        color: #fb9931 !important;
    }

    a {
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }

    .mt-2 {
        margin-top: 1rem;
    }

    div {
        width: 100%;
    }

    .container {
        width: 100%;
        max-width: 1230px;
        margin: auto;
    }

    .active {
        a {
            color: #fb9931 !important;
        }
    }

    .neon-btn {
        background: transparent;
        border: 2px solid #fb9931;
        border-radius: 50px;
        font-size: .95rem;
        padding: 10px 15px !important;
        transition-timing-function: ease;
        transition-property: background;
        transition-duration: 300ms;
    }

    .neon-btn:hover {
        background-color: #fb9931;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f5fa;
}

#navbar {

    background-color: #515151;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;

    >.container {
        display: flex;
        align-items: center;
        position: relative;

        a.logo {
            display: flex;
            align-items: center;
            // background-color: red;

            img {
                // width: 80px;
                height: 55px;
                filter: drop-shadow(1px 4px 5px rgba(0, 0, 0, 0.6));
            }

            h1 {
                text-transform: uppercase;
                font-size: 2.5rem;
                font-family: 'Ubuntu', sans-serif;
                margin-left: .7rem;
                text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.6);
            }

        }

        .menu-bar {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            margin-left: auto;

            li {
                a {
                    height: 40px;
                    padding: 0 .3rem;
                }

                margin: 0 .3rem;
                font-size: 1rem;
                text-transform: capitalize;
                // font-weight: 600;
                text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
            }
        }

        @media screen and (max-width: 1120px) {
            ul {
                display: none;
            }

            .menu-bar {
                margin-right: .8rem;
                display: block;
            }

            a.logo {
                margin-left: .8rem;
                flex: 1;

                h1 {
                    width: 100%;
                    margin: auto;
                    position: absolute;
                    text-align: center;
                }
            }

        }
    }
}

#header {
    // min-height: ;
    height: 100vh;
    max-height: 600px;
    background-color: #fff;
    display: flex;
    align-items: center;

    .container {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        max-width: 900px;
        padding: 0 2rem;
        color: #515151;

        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);

        .p-1 {
            font-size: 1.3rem;
            // max-width: 700px;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            padding: 0 2rem;
            margin: auto;
            color: #123;
        }

        .p-2 {
            font-size: 1.1rem;
        }


        section {
            font-size: 1.2rem;
            text-transform: capitalize;

            img {
                height: 180px;
                filter: drop-shadow(1px 4px 5px rgba(0, 0, 0, 0.6));

            }

            h1 {
                font-size: 3rem;
                text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.6);


                font-family: 'Ubuntu', sans-serif;
            }

            >small {
                text-decoration: underline;
            }
        }

        @media screen and (max-width: 510px) {
            .p-1 {
                padding: 0 !important;
            }
        }

        @media screen and (max-width: 430px) {
            padding: 0 !important;

            .p-3 {
                padding: 0 1rem;
            }
        }
    }


}

#contents {
    padding: 6rem 0;

    >.container {
        display: grid;
        grid-gap: 4rem;
        padding: 0 2rem;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;

            // min-height: 400px;
            // background-color: #fb9931;
            article {
                background-color: snow;
                border-radius: 50px 50px 0 0;
                padding: 3rem 0 4rem 0;
                box-shadow: 3px 3px 12px 0px #9caacb30;

                // text-align: center;
                h1 {
                    color: #515151;
                    text-align: center;
                    font-size: 1.3rem;
                    font-weight: lighter;
                    text-transform: uppercase;
                    letter-spacing: .3rem;
                    text-shadow: 0px 1px 4px #515151a3;
                }

                hr {
                    width: 110px;
                    margin: auto;
                    height: 2.5px;
                    background-color: #fb9931;
                    border: none;
                    margin-top: 2.5px;
                }

                p {
                    color: #515151;
                    max-width: 900px;
                    padding: 0 3rem;
                    text-align: justify;
                    letter-spacing: .06rem;
                    line-height: 1.6rem;
                    font-size: 1.06rem;
                    margin-top: 2rem;
                }
            }
        }

        @media screen and (max-width: 490px) {
            padding: 0;
        }

    }

    @media screen and (max-width: 540px) {
        article {
            h1 {
                font-size: 1.15rem !important;
            }
        }
    }

    div.sec-2 {
        margin-top: 4rem;

        .topic_of_int {
            background-color: #fb993126;
            padding: 4rem 2rem;

            .container {
                article {
                    background-color: snow;
                    padding: 3rem 0 4rem 0;
                    box-shadow: 3px 3px 12px 0px #9caacb30;


                    // text-align: center;
                    h1 {
                        color: #515151;
                        text-align: center;
                        font-size: 1.4rem;
                        font-weight: lighter;
                        text-transform: uppercase;
                        letter-spacing: .3rem;
                        text-shadow: 0px 1px 4px #515151a3;


                    }

                    hr {
                        width: 110px;
                        margin: auto;
                        height: 2.5px;
                        background-color: #fb9931;
                        border: none;
                        margin-top: 2.5px;
                    }

                    p {
                        color: #515151;
                        // max-width: 900px;
                        padding: 0 3rem;
                        text-align: justify;
                        letter-spacing: .06rem;
                        line-height: 1.6rem;
                        font-size: 1.06rem;
                        margin-top: 2rem;
                    }
                }

                .list {
                    display: grid;
                    grid-gap: 2rem;
                    text-align: left;
                    margin-top: 2rem;
                    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

                    color: #515151;
                    // max-width: 900px;
                    // padding: 0 3rem;
                    letter-spacing: .06rem;
                    line-height: 1.6rem;
                    font-size: 1.06rem;

                    // grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
                    .group {
                        // display: grid;
                        // grid-gap: 1rem;
                        background-color: snow;
                        padding: 2rem;
                        // border: 3px #fb9931;
                        // border-style: solid none;
                        box-shadow: 3px 3px 12px 0px #9caacb30;


                        h2 {
                            font-weight: lighter;
                            color: #2c2c2c;
                            font-size: 1.3rem;
                        }

                        ul {
                            list-style: circle;
                            margin-top: 1.2rem;
                            padding-left: 1.5rem;
                        }
                    }
                }
            }
        }

        .committee {
            background-color: #b6d3e138;
            padding: 4rem 2rem;

            .container {
                display: grid !important;
                grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
                color: #515151;
                grid-gap: 2rem;

                letter-spacing: .06rem;
                line-height: 1.6rem;
                font-size: 1.06rem;

                h2 {
                    font-weight: lighter;
                    color: #2c2c2c;
                    font-size: 1.3rem;
                }

                p {
                    margin-top: .5rem;
                }

                >div,
                aside {
                    background-color: snow;
                    padding: 2rem;
                    box-shadow: 3px 3px 12px 0px #9caacb30;
                    border-top: 6px solid #fb9931;
                    border-radius: 0 0 20px 20px;
                }

                div {
                    p {
                        margin-left: .5rem;
                    }
                }

                >aside {
                    p {
                        // background-color: red;
                        height: 350px;
                        overflow-y: auto;
                        padding: 1rem 1.5rem;
                        box-shadow: inset 3px 3px 12px 0px #9caacb30;

                        font-size: 1rem;
                        margin-top: 1rem;
                    }
                }
            }
        }

        .important-date {
            margin-top: 4rem;

            .container {
                padding: 0 2rem;

                h1 {
                    color: #515151;
                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: lighter;
                    text-transform: uppercase;
                    letter-spacing: .3rem;
                    text-shadow: 0px 1px 4px #515151a3;


                }


                hr {
                    width: 110px;
                    margin: auto;
                    height: 2.5px;
                    background-color: #fb9931;
                    border: none;
                    margin-top: 2.5px;
                }

                .list {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

                    color: #515151;
                    grid-gap: 2rem;
                    margin-top: 3.5rem;

                    letter-spacing: .06rem;
                    line-height: 1.6rem;
                    font-size: 1.06rem;

                    .group {
                        background-color: snow;
                        padding: 3rem 2rem;
                        // border: 3px #fb9931;
                        // border-style: solid none;
                        box-shadow: 3px 3px 12px 0px #9caacb30;

                        i {
                            font-size: 5rem;
                        }

                        h2 {
                            font-weight: lighter;
                            color: #2c2c2c;
                            font-size: 1.3rem;
                        }

                        p {
                            margin-top: .5rem;
                            font-size: .98rem;
                        }
                    }


                }

                .proceeding {
                    background-color: snow;
                    padding: 3rem 2rem;
                    // border: 3px #fb9931;
                    margin-top: 5rem;
                    margin-bottom: 3rem;
                    // border-style: solid none;
                    box-shadow: 3px 3px 12px 0px #9caacb30;
                    p {
                        color: #515151;
                        margin: auto;
                        text-align: center;
                        letter-spacing: .06rem;
                        line-height: 1.6rem;
                        font-size: 1.06rem;
                        margin-top: 2rem;
                    }
                }
            }
        }


    }


}

footer {
    // border-top: 2px solid #fb9931;
    border-radius: 30px 30px 0 0;
    padding: 3rem 1rem;
    color: #515151;
    background-color: #fff;
    // box-shadow: inset 0px -10px 12px 0px #3e414730;

    // box-shadow: 3px 3px 12px 0px #5151511a;
    // box-shadow: inset 0 3px 10px 0px #5151511a;
    box-shadow: 0px 35px 55px 0px #515151;

    a {

        color: #515151;
    }

    .container {
        display: flex;
        position: relative;


        section {
            line-height: 1.6rem;
            flex: 1;
            margin: 0 1.4rem;

            header {
                font-size: 1.2rem;
            }

            ul {
                list-style-type: none;
                margin: 1rem 0;

                li {
                    display: flex;
                    align-items: center;

                    a {
                        margin-left: 10px;
                    }
                }
            }

            div.social-handles {
                flex: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                margin-top: .7rem;

                p {
                    word-break: keep-all;
                    flex: 1;

                    small {
                        font-size: .97rem;
                    }
                }

                ul {
                    display: flex;
                    margin: 0;
                }

                li {
                    margin-right: 1rem;

                    a {
                        background-color: #123;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        color: #fff;
                        margin-left: 0;
                        font-size: 1.5rem;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .sec_1 {
            flex: 2.1;

            h1 {
                text-transform: uppercase;
                font-size: 2.5rem;
                margin-bottom: 1rem;
                font-family: 'Ubuntu', sans-serif;
                text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.6);
            }

            >small {
                font-size: .95rem;
            }
        }

        .sec_2 {
            display: flex;
            flex-direction: column;
        }

        @media screen and (max-width: 800px) {
            flex-direction: column;

            .sec_2 {
                margin-top: 2rem;
                flex-direction: row;
            }
        }

        @media screen and (max-width: 530px) {
            div.social-handles {
                flex-direction: column;

                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.extra-footer {
    padding: 1rem 1.3rem;
    background-color: #515151;
    color: #c3c3c3;

    a {
        text-decoration: underline;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    small {
        font-size: .95rem;
    }

    #backtotop {
        width: 45px;
        height: 45px;
        border: none;
        outline: none;
        background: black;
        position: fixed;
        bottom: 2rem;
        cursor: pointer;
        right: 2rem;
        border-radius: 50%;
    }
}